.bg{
  background-color: #666666;    
  .item{
    margin-top: 10vh;
  }
}

.images{
  margin: 30px auto 0 auto !important;
  overflow: hidden;
  width: 80vw !important;
  
  
  .list{    
    flex-wrap: nowrap;
    transform: translateZ(0);
  }
}

.text1Margin{
  width:70%;
  margin: 0 auto 0 auto !important;
}

.text2Margin{
  width:70%;
  margin: 70px auto 0 auto !important;
}

.text3Margin{
  width:70%;
  margin: 40px auto 0 auto !important;
  padding-bottom: 50px;
}

.bg{
  background-color: lightblue;
}