h2{
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    display: grid;
    place-items: center;
    margin: 5vh;
}
.container{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.imageGallery{
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    object-fit: cover;
    align-content: center;
    align-self: center;
    place-content: center;
    place-self: center;
    place-items: center;
    margin-left: 0 !important;
}