h2{
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    display: grid;
    place-items: center;
    margin: 5vh;
}
.container{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.imageGallery{
    padding-left: 5vw;
    padding-right: 5vw;
}