.content{
    margin-bottom: 15px !important;
}
.bg{
    // background-color: lightblue;
    position: relative;
    z-index: 1;
    min-height: 50vh !important;
    margin-bottom: 15px !important;
}

.bg::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://images.unsplash.com/reserve/Af0sF2OS5S5gatqrKzVP_Silhoutte.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
}

.donate{
    background-color: lightblue;
    min-height: 35vh;
}