.root{
    header,
    div{
        opacity: 1 !important;
    }
}

.container{
    background-color: #0081a7;
    color: #fdfcdc !important;

    display: grid;
    grid-template-columns: minmax(150px, 10%) 1fr;
    place-items: center;

    .logo{

    }

    button{
        color: #fdfcdc;
        opacity: 100;
    }
}
