.container{
    display: grid;
    place-items: center;

    .text{
        margin-bottom: 1vh;
        display: grid;
        place-items: center;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #00afb9;
        width: 70vw;
        p{
            padding-bottom: 5vh;
            font-size: 1.2rem;
        }
    }
}

.storiesContainer{
    display: grid;
    place-items: center;
    margin-bottom: 5vh;
}

.pagination{
    direction: ltr;
    display: grid;
    place-items: center;
    margin-bottom: 1vh;
}