.item{
    margin-top: 6vh !important;
    min-height: 40vh;
    display: grid;
    place-items: center;
    background-color: transparent !important;
}


.text{
    width: 80%;
    opacity: unset !important;
}

.typo{

    margin: 0 2vh 0 2vh !important;
    font-weight: bolder !important;

}

.typoSecondary{
    font-weight: 700 !important;
    margin-top: 10px !important;    
    margin: 10px 15% 0 15% !important;
}

.title,
.subTitle{
    direction: rtl;
    padding-left: 2vw;
    padding-right: 2vw;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    margin: 0 auto 0 auto;
}
.subTitle{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500 ;
    margin: 10px 20% 0 20% !important;
    color: #000000;
}

.buttons{
    display: grid;
    grid-gap: 10vw;
    // grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.container{
    display: grid;
    place-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.btn{
    background-color: #0081a7 !important;
    height: 70vh;
}


// @media (max-width: 767px){
//     .title{
//         grid-template-columns: repeat(4, 1fr);
//     }
// }

// @media (max-width: 565px){
//     .title{
//         grid-template-columns: repeat(3, 1fr);
//     }
// }

@media (max-width: 425px){
    .title{
        font-size: 2.8rem;
    }
    .subTitle{
        font-size: 1.0rem;
    }
}

@media (max-width: 375px){
    .title{
        font-size: 2.8rem;
    }
    .subTitle{
        font-size: 1.0rem;
    }
}