
.container {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    place-items: center;
    background-color: #edf0f8;
    margin: 5px;
    width: 15vw;
    border-radius: 10px;
    p{
        text-align: center;
    }
    
    h3 {
        margin: 0
    }

    .icon {
        height: 10vh;
        width: 10vw;
    }
}