a{
    text-decoration: none;
    color: #fdfcdc;
}

a:active,a:hover{
    color: #8a97be;
}

.container{
    background-color: #0081a7;
    color: #fdfcdc;
}

.content{
    display: grid;
    grid-template-columns: minmax(200px, 25%) auto;
    padding-top: 2vh;
    padding-left: 1vw;
}

.title,
.subTitle{
    direction: rtl;
    padding-left: 2vw;
    padding-right: 2vw;
}

.title{
    font-size: 2rem;
}
.subTitle{
    font-size: 1rem;
}

.mediaContainer{
    display: grid;
    place-items: center;
    font-size: 2rem;
    padding-bottom: 2vh;
}

.mediaLinks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.pagesNav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.pageCard{
    margin: 5px;
}

.innerTitle{
    font-size: 2rem;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #868c9c9a;
}

.innerTitle:hover, .innerTitle:active{
    cursor: pointer;
    color: #fed9b7;
}

.innerSub{
    font-size: 1rem;
    direction: rtl;
    text-align: center;
}


@media (max-width: 767px){
    .content{
        display: grid;
        grid-template-columns: none;
        width: 100%;
        padding-top: 2vh;
    }

    .title,
    .subTitle{
        display: none;
    }
}