.content{
    margin: 0 10px !important;
}

.list{    
    flex-wrap: nowrap;
    transform: translateZ(0);
  }

.gridListTitle{
    margin: 20px auto 20px auto;
    background-color: khaki;
 }

 .item{
     font-weight: 600 !important;
 }

 .supporters {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
  }

  .supporter {
      height: 200px;
      display: grid;
      place-items: center;
  }

@media (max-width: 767px){
    .supporters{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 565px){
    .supporters{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 425px){
    .supporters{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px){
    .supporters{
        grid-template-columns: repeat(1, 1fr);
    }
}