.images{
  margin: 30px auto 0 auto !important;
  overflow: hidden;
  width: 80vw !important;
  .list{    
    flex-wrap: nowrap;
    transform: translateZ(0);
  }
}

.text1Margin{
  width:70%;
  margin: 0 auto 0 auto !important;
}

.text2Margin{
  width:70%;
  margin: 70px auto 0 auto !important;
}

.text3Margin{
  width:70%;
  margin: 40px auto 0 auto !important;
  padding-bottom: 50px;
}

.container {
  display: grid;
  place-items: center;
  min-height: 70vh;
}


.paymentBox{

display: flex;
flex-wrap: wrap;
justify-content: center;
}

.alignInputs{
  background-color: rgba(222, 184, 135, 0.541);
  flex: 0 1 auto; /*  No stretching: */
  margin: 10px ;
  
  
}

.dunationSum{
  // margin-bottom: 3vh;
}

.inputColor{
  background-color: #DEDCD8;
  border-radius: 6px;
  
}

.amountToDonate{
  font-size: 1.5rem;
}

.center {
  // min-height: 30vh;
}